{% extends 'base.html' %}

{% load static %}

{% block head_content %}
    <title>Login</title>
{% endblock %}

{% block content %}

    <div class="container pt-5">
        <div class="row justify-content-center pt-5">
            <div class="col-lg-5 col-md-7 col-sm-9 col-10 pt-5">
                <form method="POST" action="{% url 'login' %}" class="px-4 mt-4 py-3" style="background-color: #11141d;">
                    {% csrf_token %}
                    <h1 class="text-center text-white mb-4">Login</h1>
                    
                    {% if error %}
                        <p class="alert alert-danger col-10 offset-1">{{error}}</p>
                    {% endif %}
                    
                    {{ form.as_p }}

                    <button class="btn btn-block bg-success text-white col-10 offset-1">Sign in</button>

                    <p class="text-white mt-3">Don't have an account yet? <a href="{% url 'signup' %}">Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}