{% extends 'contacts/base.html' %}

{% block head_content %}
    <title>Index</title>
{% endblock %}

{% block content %}

    <div class="container mt-5 bg-info">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-white">Welcome</h3>

                <button class="btn btn-success">See all contacts</button>
                <button class="btn btn-success">Add new contact</button>
            </div>
        </div>
    </div>

{% endblock %}