{% extends 'contacts/base.html' %}

{% block head_content %}
    <title>Index</title>
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-5 mt-5 mb-5" style="background-color: #11141d;">
                <h3 class="text-white text-center mb-3 mt-5">Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h3>

                <button style="background-color: #2d6a4f;" class="btn col-4 offset-2 p-1 mb-5 mr-1"><a href="{% url 'contacts' %}" style="background-color: #2d6a4f;" class=" page-link text-white border-0 p-0">See all contacts</a></button>
                <button style="background-color: #2d6a4f;" class="btn col-4 p-1 mb-5 ml-1"><a href="{% url 'new_contact' %}" style="background-color: #2d6a4f;" class=" page-link text-white border-0 p-0">Add new contact</a></button>
            </div>
        </div>
    </div>

    <style>
        .btn:hover{
            transform: scale(1.05);
        }
    </style>

{% endblock %}